.pokemon-card {
  width: 150px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.pokemon-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  display: block;
  margin: auto;
}
